<div class="listings">
  <div class="listings_channels">
    <ul class="channel_list text-center">
      <%= sidebar_link_item('送信メッセージ一覧', messages_path) %>
      <%= sidebar_link_item('送信フォーム', new_message_path) %>
    </ul>
  </div>
</div>